/*STYLE GENERAL HEADER*/
header {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 22px;
  padding-right: 105px;
  padding-left: 105px;
  padding-bottom: 22px;

  font-size: 16px;
  font-weight: 400;
  background-color: #f5f7fa;
}

/*Style liens milieu*/
nav {
  display: flex;
  gap: 50px;
}
a {
  text-decoration: none;
  color: black;
}
/*right boutons*/
.buttons {
  display: flex;
  gap: 10px;
}
.buttons a {
  text-decoration: none;

  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 14px;
}

/*Style btn login*/
.buttons .login {
  color: #4caf4f;
}

/*Style btn signup*/
.buttons .signup {
  background-color: #4caf4f;
  color: white;
}

/*STYLE GENERAL BODY*/
body {
  font-family: "Inter", sans-serif;
  gap: 10pxs;
  color: #4d4d4d;
}
p {
  color: #717171;
  font-size: 14px;
}
.hero .Community p {
  color: #717171;
  font-size: 16px;
}

/*Style hero*/
.hero {
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 96px;
  padding-right: 144px;
  padding-left: 144px;
  padding-bottom: 96px;

  gap: 104px;
  max-width: 1441px;
  margin: auto;
}

/*Style box1 hero*/
.box1 {
  max-width: 658px;
  gap: 32px;
}

/*Style t1 hero*/
.t1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

/*Style t1 (from 8 years)*/
.t2 {
  color: rgb(67, 160, 46);
}

/*Style btn register*/
.register-button {
  font-size: 16px;
  font-weight: 500;

  background-color: rgb(67, 160, 46);
  color: white;

  padding-top: 14px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 14px;
  border-radius: 4px;
}

/*Style image hero*/
.image-container1 {
  margin-left: 104px;
}

/*Style Community*/
.Community {
  padding: 20px;
  text-align: center;
}

.Com-titre {
  gap: 32px;
}

.t3 {
  margin-bottom: 10px;
  font-size: 36px;
}
/*Style Parts*/
.part-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/*Style cube part*/
.part {
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  gap: 8px;

  border: 1px solid #ddd;
  border-radius: 8px;

  width: 299px;
  box-shadow: 0px 4px #abbed133;
  text-align: center;
}

/*Style icons part*/
.part img {
  width: 50px;
  margin-bottom: 15px;
}

/*Style title part*/
.part h3 {
  margin-bottom: 10px;
  font-size: 28px;
}

/*Style Unlock/Calendar*/
.unlock .Calendar p {
  color: #717171;
  font-size: 16px;
}

/*Style unlock*/
.unlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 144px;
  padding-right: 144px;
  max-width: 1441px;
}
/*Style image unlock*/
.image-container2 {
  display: flex;
  align-items: center;
}

/*Style box2 unlock*/
.box2 {
  max-width: 1440px;
  max-height: 433px;
  gap: 32px;
}

/*Style tilte unlock*/
.t4 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}

/*Style p unlock*/
.text {
  padding-bottom: 30px;
}

/*Style btn unlock*/
.learn-more-btn {
  font-size: 16px;
  font-weight: 500;

  background-color: #4caf4f;
  color: white;

  padding-top: 14px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 14px;
  border-radius: 4px;
}

/*Style Calendar*/
.Calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 144px;
  padding-right: 144px;
}

/*Style box3 Calendar*/
.box3 {
  max-width: 661px;
  max-height: 308px;
}

.box3 h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/*Style bouton demo*/
.demo-btn {
  font-size: 16px;
  font-weight: 500;

  background-color: #4caf4f;
  color: white;

  padding-top: 14px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 14px;
  border-radius: 4px;
}

/*Style general footer*/
footer {
  text-align: center;
  align-items: center;
}

/*Style box4 footer*/
.box4 {
  background-color: #f5f7fa;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1200px;
  max-height: 364px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box4 h1 {
  font-size: 64px;
}

/*Style footer noir (Copyrights...*/
.footer-noir {
  background-color: #263238;
  padding-top: 64px;
  padding-left: 165px;
  padding-bottom: 64px;
  padding-right: 165px;
}
.footer-noir p {
  color: #f5f7fa;
}
